<div class="container">
	<div class="col-md-12 text-center">
		<h2><b>ABOUT US</b></h2>
		<h4>We are passionate about what we do</h4>
	</div>
	<div class="col-md-12">
		<p><a href="/">Home</a> &rarr;  About us</p>
	</div>
</div>
<div class="container">
		<div class="col-md-6">
			<h4>
				<b>Our Awesome Core Feature</b>
			</h4>
			<p>
				Excepteur in enim labore pariatur eiusmod commodo non aliquip reprehenderit reprehenderit culpa proident ad. Sit veniam dolore laboris non id elit tempor fugiat quis in commodo duis.
			</p>
			<div class="col-md-12">
				<div class="col-md-6 row">
					<img src="/images/ab-icon5.png" alt="">
					<p>Fully Responsive Theme</p>
				</div>
				<div class="col-md-6 row">
					<img src="/images/ab-icon6.png" alt="">
					<p>New Technology</p>
				</div>
				<div class="col-md-6 row">
					<img src="/images/ab-icon7.png" alt="">
					<p>Fully Respnsive Theme</p>
				</div>
				<div class="col-md-6 row">
					<img src="/images/ab-icon8.png" alt="">
					<p>Fully Respnsive Theme</p>
				</div>
				<div class="col-md-6 row">
					<img src="/images/ab-icon9.png" alt="">
					<p>Fully Respnsive Theme</p>
				</div>
				<div class="col-md-6 row">
					<img src="/images/ab-icon10.png" alt="">
					<p>Fully Respnsive Theme</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<p>Ngoc Hoang</p>
		</div>
</div>
